<table>
  <tr>
    <th>Word</th>
    <th>Meaning</th>
  </tr>
  <tr
    *ngFor="let card of cards; let i = index"
    (mouseover)="this.setHoveredWord(i)"
    (mouseout)="this.setHoveredWord(null)"
  >
    <td>
      <input
        type="text"
        value="{{ card.id }}"
        [disabled]="hoveredWord !== i"
        (input)="setHoveredWord(i)"
        [(ngModel)]="card.id"
      />
    </td>
    <td>
      <input
        type="text"
        value="{{ card.meaning }}"
        [disabled]="hoveredWord !== i"
        [(ngModel)]="card.meaning"
      />
    </td>
  </tr>
</table>

<button (click)="addCard()">+</button>
