<table>
  <tr>
    <th>Word</th>
    <th>Meaning</th>
  </tr>
  <tr
    *ngFor="let card of cards; let i = index"
    (mouseover)="this.setHoveredWord(card.id)"
    (mouseout)="this.setHoveredWord(null)"
  >
    <td>
      <input
        type="text"
        value="{{ card.id }}"
        [disabled]="hoveredWord !== card.id"
        (input)="editWord($event, i)"
      />
    </td>
    <td>
      <input
        type="text"
        value="{{ card.meaning }}"
        [disabled]="hoveredWord !== card.id"
        (input)="editMeaning($event, i)"
      />
    </td>
  </tr>
</table>

<button (click)="addCard()">+</button>
